<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>作業完了</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <link rel="javascript" href="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}">
</head>
<body>
<header>
</header>
<div class="container">
    <div class="row mt-5">
        <h2 class="col-md-10 mb-4 text text-secondary" th:text = "${msg[0]}"></h2>
        <div class="col-md-8 offset-md-2 mx-auto text text-secondary">
            <p th:text="${msg[1]}"></p>
            <a href="Menu" class="mt-3 col-md-12  btn btn-lg btn-neutral border border-danger text-center float-left">メニューへ</a>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>