<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>作業完了</title>
    <link rel="stylesheet" th:href="@{/css/nowui/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nowui/now-ui-kit.css}">
    <script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
</head>
<body>
<div th:include="headers.html"></div>
<div class="container">
    <div class="row mt-5">
        <h2 class="col-md-10 mb-4 text text-secondary" th:text = "${msg[0]}"></h2>
        <div class="col-md-8 offset-md-2 mx-auto text text-secondary">
            <p th:text="${msg[1]}"></p>
            <a href="Menu" class="mt-3 col-md-12  btn btn-lg text-primary btn-outline-success text-center float-left">メニューへ</a>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>