<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/nowui/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/nowui/now-ui-kit.css}">
    <script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <h2 class="col-md-10 mb-4 text text-secondary">トップ画面</h2>
        <h3 class="col-md-8 offset-md-2 mx-auto text text-secondary">ようこそさん</h3>
        <div class="col-md-3 offset-md-2">
            <table class="float-right" style="width:100%;">
                <tr><td><form action="DispDiaryList" method="GET"><button type="submit" class="btn text-primary btn-outline-success " style="width:100%">日誌一覧表示</button></form></td>
                </tr>
                <tr><td><form action="InputDiaryControl" method="GET"><button type="submit" class="btn text-primary btn-outline-success" style="width:100%">日誌作成</button></form></td></tr>
            </table>
        </div>
        <div class="col-md-3 offset-md-1">
            <table class="float-left" style="width:100%">
                <tr><td><form action="DispCanDeleteDiaryList" method="GET"><button type="submit" class="btn text-primary btn-outline-success " style="width:100%">日誌削除</button></form></td>
                </tr>
                <tr><td><form action="DispCanRevisionDiaryList" method="GET"><button type="submit" class="btn text-primary btn-outline-success" style="width:100%">日誌修正</button></form></td></tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>