<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日誌修正</title>
    <link rel="stylesheet" th:href="@{/css/nowui/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nowui/now-ui-kit.css}">
    <script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
</head>
<body>
<div th:include="headers.html"></div>
<div class="container">
    <div class="row mt-5">
        <h2 class="col-md-10 mb-4 text text-secondary">日誌一覧</h2>
        <div class="col-md-10 offset-md-1 mt-4">
            <div class="text-danger" th:text="${errorMsg}"></div>
            <div class="text-primary" th:text="${msg}"></div>
            <form th:object="${diaryList}" action="InputRevisionDiary" method="POST">

                <table class="table">

                    <thead>
                    <tr>
                        <th class="text-center onsort">日付</th>
                        <th class="onsort">学籍番号</th>
                        <th>良い点</th>
                        <th>悪い点</th>
                        <th>学生コメント</th>
                        <th>担任コメント</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="diary, stat : *{diaryDtoList}">
                        <tr>
                            <td th:text="${diary.insertDate}"></td>
                            <td th:text="${diary.studentId}"></td>
                            <td><textarea th:field="*{diaryDtoList[__${stat.index}__].goodPoint}">[[${diary.goodPoint}]]</textarea></td>
                            <td><textarea th:field="*{diaryDtoList[__${stat.index}__].badPoint}">[[${diary.badPoint}]]</textarea></td>
                            <td><textarea th:field="*{diaryDtoList[__${stat.index}__].stdCom}">[[${diary.stdCom}]]</textarea></td>
                            <td th:text="${diary.tcrCom}"></td>
                        </tr>
                        <input type="hidden" th:field="*{diaryDtoList[__${stat.index}__].studentId}" th:value="${diary.studentId}">
                        <input type="hidden" th:field="*{diaryDtoList[__${stat.index}__].insertDate}" th:value="${diary.insertDate}">
                        <input type="hidden" th:field="*{diaryDtoList[__${stat.index}__].tcrCom}" th:value="${diary.tcrCom}">
                    </th:block>
                    </tbody>

                </table>
                <div class="col-md-12 p-0">
                    <a href="Menu" class="m-0 col-md-6  btn btn-lg text-primary btn-outline-success text-center float-left">戻る</a>
                    <button type="submit" class="m-0 col-md-6 btn btn-lg text-primary btn-outline-success text-center float-right">登録</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>